body{
	background-color:#f4f4f4;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family:"helvetica neue",helvetica;
}
.clear{
	clear:both;
}
.left{float:left;}
.right{float:right;}
.center{margin-left:16px;float:left;}

#preview,
#tools,
#images,
#editor{
	width:950px;
	padding:30px;
	background-color:#f4f4f4;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
	margin:10px auto;
	position:relative;
}

#images{
	width:980px;
	padding:25px 5px 25px 25px;
	overflow:auto;
	height:160px;
	background-color:#333;
}
.image_preview{
	width:75px;
	height:75px;
	margin:5px;
	float:left;
	background-color:#fff;
	border:1px solid #333;
	box-shadow:0px 0px 10px rgba(0,0,0,0.6);
	cursor:pointer;
	overflow:hidden;
}
.image_preview.selected{
	border:1px solid #fff;
	box-shadow:0px 0px 30px rgba(255,255,255,1);
}
.image_preview img{
	width:100%;
	height:auto;
}

input[type="text"]#e_title{
	font-family:Georgia,Times,Serif;
	font-size:55px;
	font-style:italic;
	font-weight:normal;
	color:#666666;
	padding:0px 0px 10px 0px;
	margin:0px;
	line-height:100%;
	display:block;
	width:100%;
	border:0px;
	background-color:rgba(255,255,255,0.8);
	border-bottom:4px solid #666;
	outline:none;
	margin-bottom:16px;
}
#selected_image,
#e_c1,
#e_c2{
	width:306px;
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:11px;
	color:#000000;
	text-indent:0px;
	text-align:left;
	line-height:15px;
	height:400px;
	outline:none;
	resize:none;
	position:relative;
}
#selected_image{
	background-color:rgba(255,255,255,0.5);
	text-align:center;
	overflow:hidden;
}
#selected_image img{
	width:100%;
	height:auto;
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
}
#selected_image span{
	display:inline-block;
	position:absolute;
	width:100%;
	left:0px;
	font-family:helvetica;
	color:#ccc;
	font-size:14px;
	font-weight:normal;
	top:45%;
	z-index:1;
}

a#showpreview,
a#save{
	float:left;
	padding:8px 12px;
	font-size:14px;
	border:1px solid #ccc;
	color:#ccc;
	margin:20px 0px 0px 0px;
	text-decoration:none;
}
a#showpreview:hover{
	background-color:#666;
	color:#fff;
	border-color:#666;
}
a#save{
	color:#ff9000;
	border-color:#ff9000;
	float:right;
}
a#save:hover{
	color:#fff;
	background-color:#ffb14b;
	border-color:#ff9000;
}

#preview{
	background-color:#fff;
}

.section_title{
	position:absolute;
	left:0px;
	top:0px;
	padding:8px 12px;
	font-size:12px;
	border:1px solid #f4f4f4;
	border-left:0px;
	border-top:0px;
	display:inline-block;
	background-color:#fcfcfc;
}

.in{
	width:260px;
	float:left;
	padding:10px;
	border:1px solid #e8e8e8;
}
.in label{
	width:60px;
	font-size:13px;
	text-align:left;
	float:left;
	line-height:26px;
	color:#999;
}
.in input[type="text"]{
	border:1px solid #ccc;
	padding:4px;
	width:200px;
	outline:none;
	float:left;
}
a#make_link,
a#make_biglink{
	border:1px solid;
	text-decoration:none;
	color:#ff9000;
	border-color:#ff9000;
	float:left;
	display:inline-block;
	padding:7px 20px;
	line-height:60px;
	margin-left:10px;
	background-color:#fff;
}
textarea#link_out{
	height:76px;
	width:374px;
	border:1px solid #ccc;
	outline:none;
	padding:4px;
	resize:none;
	margin-left:10px;
	float:left;
}
#login{
	padding:20px;
	width:200px;
	position:absolute;
	left:50%;
	top:30%;
	background-color:#fff;
	box-shadow:0px 0px 10px rgba(0,0,0,.2);
	display:inline-block;
	margin:0px 0px 0px -110px;
}
#login input[type="text"],
#login input[type="password"]{
	border:1px solid #ccc;
	width:196px;
	padding:4px;
	height:28px;
	outline:none;
	font-size:14px;
}
#login label{
	font-size:14px;
	color:#999;
	padding:4px 0px 6px 0px;
	display:inline-block;
}
#login a{
	display:inline-block;
	padding:6px 12px;
	color:#ff8800;
	border:1px solid #ff8800;
	text-decoration:none;
	margin:10px 0px 0px 0px;
	float:left;
}
#logoff{
	position:fixed;
	right:0px;
	top:0px;
	padding:10px 20px;
	font-size:14px;
	color:#999;
	opacity:.6;
	background-color:#fff;
	z-index:100;
	cursor:pointer;
}
#logoff:hover{
	opacity:1;
}

/* PREVIEW SECTION */

div.item_crate{
	width:950px;
	padding:0px;
	margin:0px;
	clear:both;
}

div.item_name{	
	float:left; 
	border-bottom:4px solid #666666;
	margin:0px;
	margin-bottom:24px;
	margin-top:15px;
}

div.item_name h1{
	font-family:Georgia,Times,Serif;
	font-size:55px;
	font-style:italic;
	font-weight:normal;
	color:#666666;
	padding:0px 0px 10px 0px;
	margin:0px;
	line-height:100%;
}
div.item_name h1 b{
	color:#444444;
	}
	
div.item_content{clear:both;}

div.column{
	width:306px;
	background-color:#ffffff;
	}
div.column p{
	width:306px;
	margin:0px;
	margin-left:0px;
	padding:0px;
	padding-bottom:15px;
}
div.column p{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:11px;
	color:#000000;
	text-indent:0px;
	text-align:left;
	line-height:15px;
}
div.column h1{
	margin:0px;
	margin-left:0px;
	text-indent:0px;
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:16px;
	color:#000000;
	text-align:left;
	line-height:15px;
	padding:0px 0px 15px 0px;
	width:306px;
}
div.column p span.big{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:16px;
	color:#000000;
	text-align:left;
	line-height:120%;
}
div.column p a span.big{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:16px;
	color:#000000;
	text-align:left;
	line-height:120%;
}
div.column p a:hover span.big{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:16px;
	color:#6ac8ef;
	text-align:left;
	line-height:120%;	
}
div.column p span.small{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:10px;
	color:#000000;
	text-align:left;
	line-height:120%;
}
div.column h2{
	font-family: Courier, Courier New, Monospace, Typewriter;
	font-size:12px;
	color:#000000;
	text-align:left;
	font-style:italic;
	font-weight:normal;
	line-height:15px;
	padding:0px 0px 15px 0px;
	width:306px;
	margin:0px;
	margin-left:0px;
	text-indent:0px;
}
div.column h2 a, div.column p a{
	color:inherit;
	font-size:inherit;
	text-decoration:underline;
	text-transform:uppercase;
	outline:none;
}

div.column h2 a:hover, div.column p a:hover{
	color:#6ac8ef;
	font-size:inherit;
	text-decoration:underline;
	text-transform:uppercase;
	outline:none;
}

div.column img{
	padding:0px;
	margin:0px;
	border:0px;
}
